<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h2 mat-dialog-title class="text-center">ATRIBUTO NORMAL</h2>
    </div>

    <div class="col-12">
      <mat-dialog-content class="row typePK-container d-flex justify-content-center">

        <mat-form-field class="col-12 col-md-4 me-md-2 d-flex row ">
          <mat-label class="">¿Tipo de atributo?</mat-label>
          <input matInput [(ngModel)]="data.typePK" [formControl]="typePK" required>
          <mat-error *ngIf="typePK.invalid">
            {{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 col-md-4 me-md-2 d-flex row">
          <mat-label>¿Nombre de atributo?</mat-label>
          <input matInput [(ngModel)]="data.namePK" [formControl]="namePK" required>
          <mat-error *ngIf="namePK.invalid">
            {{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>


        <mat-form-field class="col-12 col-md-4 d-flex row">
          <mat-label>¿Nombre de columna?</mat-label>
          <input matInput [(ngModel)]="data.namePKBD" [formControl]="namePKBD" required>
          <mat-error *ngIf="namePKBD.invalid">
            {{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </mat-dialog-content>
    </div>

    <div class="col-12">
      <div class="row">
        <mat-dialog-actions class="d-flex justify-content-center justify-content-md-around">
          <div class="col-6 col-md-8 col-xl-10">
            <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
          </div>
          <div class="col-2 col-md-1 col-xl-1">
            <button mat-raised-button
              [mat-dialog-close]="typePK.invalid || namePK.invalid || namePKBD.invalid ? null : data" cdkFocusInitial
              color="primary">Agregar</button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
  </div>

</div>


<!--


  
-->