<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h2 mat-dialog-title class="text-center">ATRIBUTO SECUNDARIO</h2>
    </div>

    <div class="col">
      <mat-dialog-content class="row typePK-container d-flex justify-content-center">
        <div class="col-12 col-md-6 col-xl-3">
        <mat-form-field class="d-flex">
            <mat-label>¿Tipo de atributo?</mat-label>
            <input matInput [(ngModel)]="data.typePK" [formControl]="typePK" required>
            <mat-error *ngIf="typePK.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </div>  

        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="d-flex">
            <mat-label>¿Nombre de atributo?</mat-label>
            <input matInput [(ngModel)]="data.namePK" [formControl]="namePK" required>
            <mat-error *ngIf="namePK.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="d-flex">
            <mat-label>¿Nombre de columna?</mat-label>
            <input matInput [(ngModel)]="data.namePKBD" [formControl]="namePKBD" required>
            <mat-error *ngIf="namePKBD.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="d-flex">
            <mat-label>¿Cardinalidad?</mat-label>
            <select matNativeControl [(ngModel)]="data.cardinality" [formControl]="cardinality" required>
              <option value="UNO_A_UNO">Uno A Uno</option>
              <option value="UNO_A_MUCHOS">Uno a Muchos</option>
              <option value="MUCHOS_A_MUCHOS">Muchos A Muchos</option>
              <option value="MUCHOS_A_UNO">Muchos A Uno</option>
            </select>
          </mat-form-field>
        </div>
      </mat-dialog-content>
    </div>
    <div class="col-12">
      <div class="row">
        <mat-dialog-actions class="d-flex justify-content-center justify-content-md-around">
          <div class="col-6 col-xl-10">
            <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
          </div>
          <div class="col-2 col-xl-1 me-4 me-sm-0">
            <button mat-raised-button
              [mat-dialog-close]="typePK.invalid || namePK.invalid || namePKBD.invalid || cardinality.invalid ? null : data" cdkFocusInitial
              color="primary">Agregar</button>
          </div>
        </mat-dialog-actions>

      </div>
    </div>
  </div>

</div>