<div class="container-fluid second-dialog-content">

  <div class="row ">
    <div class="col-12">
      <h2 mat-dialog-title class="text-center">{{titulo}}</h2>
    </div>

    <div class="col">
      <mat-dialog-content class="row typePK-container d-flex justify-content-center">

        <mat-form-field class="col-12 col-md-6 col-xl-3 me-md-2 d-flex row">
            <mat-label>¿Tipo de atributo?</mat-label>
            <input matInput [(ngModel)]="data.tipo" [formControl]="tipo" required>
            <mat-error *ngIf="tipo.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="col-12 col-md-6 col-xl-3 me-md-2 d-flex row">
            <mat-label>¿Nombre de atributo?</mat-label>
            <input matInput [(ngModel)]="data.nombre" [formControl]="nombre" required>
            <mat-error *ngIf="nombre.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>
      
          <mat-form-field class="col-12 col-md-6 col-xl-3 me-md-2 d-flex row">
            <mat-label>¿Nombre de columna?</mat-label>
            <input matInput [(ngModel)]="data.columna" [formControl]="columna" required>
            <mat-error *ngIf="columna.invalid">
              {{ getErrorMessage() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-12 col-md-6 col-xl-3 me-md-2 d-flex row">
            <mat-label>¿Cardinalidad?</mat-label>
            <select matNativeControl [(ngModel)]="data.relacion" [formControl]="relacion" required>
              <option [selected]="is1a1" value="1 A 1">1 A 1</option>
              <option [selected]="is1aN" value="1 A N">1 A N</option>
              <option [selected]="isNa1" value="N A 1">N A 1</option>
              <option [selected]="isNaM" value="N A M">N A M</option>
            </select>
          </mat-form-field>

        </mat-dialog-content>
    </div>
    <div class="col-12">
      <div class="row">
        <mat-dialog-actions class="d-flex justify-content-center justify-content-md-around">
          <div class="col-6 col-xl-10">
            <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
          </div>
          <div class="col-2 col-xl-1 me-4 me-sm-0">
            <button mat-raised-button
              [mat-dialog-close]="tipo.invalid || nombre.invalid || columna.invalid || relacion.invalid ? null : data" cdkFocusInitial
              color="primary">Agregar</button>
          </div>
        </mat-dialog-actions>

      </div>
    </div>
  </div>

</div>