    <nav class="row navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">

        <div class="container-fluid">
        <!--<div class="col-4 m-2">-->
            <a href="#" class="navbar-brand">Generador API</a>

            <!-- Menu de navegacion -->
            
        <!--</div>-->

        <!--<div class="col-2 col-md-10 col-lg-7 col-xl-6 col-xxl-5 m-2">-->
            <!-- Boton para el menu movil -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto me-lg-5 mb-2 mb-lg-0">
                    <li class="nav-item"><a href="inicio" class="nav-link text-white fw-bold mt-1 me-0 me-lg-5" routerLink="inicio" routerLinkActive="active">Inicio</a></li>
                    <li class="nav-item"><a href="visualizacion-codigo" class="nav-link text-white fw-bold mt-1 me-0 me-lg-5" routerLink="visualizacion-codigo" routerLinkActive="active">Visualización de CódigoGenerado</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white fw-bold mt-1 me-0 me-lg-5">Configuraciones</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white fw-bold mt-1 me-0 me-lg-5">Documentación</a></li>
                </ul>

            </div>

            
        <!--</div>-->


    </div>
    </nav>