/* You can add global styles to this file, and also import other style files */


html, body {
    height: 100%;
    background: #218c74;
    padding-top:56px;
}

#home {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.color-bg {
    background: black !important;
}

.metallic-green {
  background: linear-gradient(45deg, #006400 0%, #008000 50%, #006400 100%); /* Gradiente verde más fuerte */
  border-radius: 10px; /* Bordes redondeados (opcional) */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset, /* Sombra interna */
              0 0 10px rgba(0, 0, 0, 0.5); /* Sombra externa */
}