<div class="container-fluid">

    <div class="row">

        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-title>Entity</mat-card-title>
                <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <pre><code class="java">{{entity}}</code></pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COPIAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-title>Repository</mat-card-title>
                <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <pre><code class="java">{{repository}}</code></pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COPIAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-title>Service</mat-card-title>
                <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <pre><code class="java">{{service}}</code></pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COPIAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 mt-lg-5">
            <mat-card class="example-card">
                <mat-card-title>Service Impl</mat-card-title>
                <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <pre><code class="java">{{serviceImpl}}</code></pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COPIAR</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4  mt-lg-5">
            <mat-card class="example-card">
                <mat-card-title>Controller</mat-card-title>
                <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <pre><code class="java">{{controller}}</code></pre>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COPIAR</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>